/* Style for the Login page */
.login-container {
    padding-left: 1%;
    margin-top: 0.4%;
  }
  
  .login-title {
    font-size: 2rem;
  }
  
  .form-input-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
  }
  
  .form-input-container input[type="text"],
  .form-input-container input[type="password"] {
    font-size: 1rem;
    width: 200px;
  }
  
  .submit-btn-login {
    font-size: 0.9rem;
    width: 50px;
  }
  
  .new-user-link {
    font-size: 1rem;
  }
  